<div>

    <div class="sessions-title">Sessions</div>
    <div class="start-new-session-btn">
        <button class="btn btn-success btn-lg btn-block start-new-session-btn" ng-click="newSession()">START NEW SESSION</button>
    </div>
    <ul ng-repeat="session in sessions">
        <li>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#sess{{session.id}}">{{session.id+1}}) Session {{months[session.date.getMonth()]}} {{session.date.getDate()}}th </a>
                    </h4>
                </div>
                <div id="sess{{session.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <session-data session="session"></session-data>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>