
    <form role="form">
        <div class="form-group">

            <div class="row step-form-input">
                <label class="col-md-4 control-label" for="exercise">Name</label>
                <input class="col-md-7 from-control input-sm" id="exercise" ng-disabled="step.isDisabled" ng-model="step.exercise" ng-disabled="disabled" type="text">
            </div>

            <select name="singleSelect" ng-model="step.exercise">
                <option value="option-1">Option 1</option>
            </select>

            <div class="row step-form-input">
                <label class="col-md-4" for="numbers">Numbers</label>
                <input class="col-md-7 from-control input-sm" id="numbers" ng-disabled="step.isDisabled" ng-model="step.numbers" ng-disabled="disabled" type="number">
            </div>
            <div class="row step-form-input">
                <label class="col-md-4" for="time">Time</label>
                <input class="col-md-7 from-control input-sm" id="time" ng-disabled="step.isDisabled" ng-model="step.time" ng-disabled="disabled" type="number">
            </div>
            <div class="row step-form-input">
                <label class="col-md-4" for="weight">Weight</label>
                <input class="col-md-7 from-control input-sm" id="weight" ng-disabled="step.isDisabled" ng-model="step.weight" ng-disabled="disabled" type="number">
            </div>
        </div>
        <button class="btn btn-success btn-lg btn-block" ng-click="start()" ng-show="step.state == States.NEW">START</button>
        <button class="btn btn-danger btn-lg btn-block" ng-click="stop()" ng-show="step.state == States.STARTED">STOP</button>
        <button class="btn btn-default btn-lg btn-block" ng-show="step.state == States.FINISHED" ng-disabled="true">FINISHED</button>
    </form>